dicas
Trabalho_1/batch_replace.txt
Trabalho_1/figures/script principal (t01.m).xmind
Trabalho_1/t01.zip
Trabalho_1/relatorio.synctex.gz
Trabalho_1/relatorio.tex
Trabalho_1/3332_3.PDF
Lista_4/L04.pdf
.gitignore
Lista_4/lista4.pdf
Lista_4/L04.png
Trabalho_1/trab01_scripts_Felipe.zip
Trabalho_2/trab02_relatorio_Felipe.synctex.gz
Trabalho_2/figs2.zip
Trabalho_2/acentos.txt
